@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 @apply font-primary;
 /* box-sizing: border-box; */
}
.bg {
 background-image: url('image/Groupbg.png');
 background-size: 100% 40%;
 background-repeat: repeat-y;
}
